<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>TaskResult</title>
    <!-- 引入 ECharts 文件 -->
    <script src="/static/js/echarts.js"></script>
</head>
<body>
{% extends "featureselection/base.html" %}
    {% load bootstrap3 %}
    {% block header %}
        <h1>Best FeatureSubset System Recommending</h1>
    {% endblock header %}
    {% block content %}
        <div>
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>
                            特征名称以及对应的编号：
                        </h3>
                    </div>
                    <div class="panel-body">
                        <h3>
                        {% for k,v in cid.items %}
                            <small>{{ v }} - {{ k }}&nbsp;&nbsp;&nbsp;&nbsp;</small>
                        {% endfor %}
                        </h3>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3>最佳特征子集</h3>
                    </div>
                    <div class="panel-body">
                        <h1>系统推荐的最佳特征子集</h1>
                        <h1>[{{ result.best_result_system }}]<small style="color:#23238e">[来自 {{ result.system_result_from }} 算法]</small></h1>
                        <h4 style="color:#ff0000">注意：推荐的最佳特征子集是根据精确度(precision)，召回值(recall)，f1值，特征子集长度等反面考虑。仅供参考。</h4>
                        <form method="post" action="{% url 'featureselection:download_bestsubset' task_id %}"  class="form">
                            {% csrf_token %}
                            {% buttons %}
                                <button name="submit" class="btn btn-primary">下载数据集</button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2>More</h2>
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="{% url 'featureselection:show_result' task_id %}">所有的特征选择结果</a></li>
                    <li><a href="{% url 'featureselection:show_best_result' task_id %}">最佳特征子集</a></li>
                    <li><a href="{% url 'featureselection:show_user_result' task_id %}">选择你的特征子集</a></li>
                </ul>
            </div>
        </div>
    {% endblock content %}
</body>
</html>