<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>TaskResult</title>
    <!-- 引入 ECharts 文件 -->
    <script src="/static/js/echarts.js"></script>
</head>
<script>
    function function4(){
        c = document.getElementById("system_");
        if(c.innerHTML == "hide the picture"){
            c.innerHTML = "show the picture";
        }
        else{
            c.innerHTML = "hide the picture";
        }
    }
</script>
<body>
{% extends "featureselection/base.html" %}
    {% load bootstrap3 %}
    {% block header %}
        <h1>Choose Your Own FeatureSubsets</h1>
    {% endblock header %}
    {% block content %}
        <div>
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>
                            Feature Names and these corresponding number：
                        </h3>
                    </div>
                    <div class="panel-body">
                        <h3>
                        {% for k,v in cid.items %}
                            <small>{{ v }} - {{ k }}&nbsp;&nbsp;&nbsp;&nbsp;</small>
                        {% endfor %}
                        </h3>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>User's Feature Subset</h3>
                    </div>
                    <div class="panel-body">
                        <h1>If You Think That There Is Still Better FeatureSubset：</h1>
                        <form method="post" action="{% url 'featureselection:analyze_user_choice' task_id %}" class="form">
                            {% csrf_token %}
                            <div class="container">
                                <h4>
                                    {% for feature in features_list %}
                                        <td><input type="checkbox" group="group_sel" value="{{ feature }}" name="features_checkbox"/>{{ feature }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    {% endfor %}
                                </h4>
                                {% buttons %}
                                    <button name="submit" class="btn btn-primary" forcheckboxgroup="group_sel">Analysis Your Subset</button>
                                {% endbuttons %}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3>User's Feature Subset</h3>
                    </div>
                    <div class="panel-body">
                        <h2>The Subset Of Features You Have Selected：</h2>
                        {% if userresult_list %}
                            <table class="table table-hover" id="user_table">
                                <caption><strong>Comparison Of Your Own Subset</strong></caption>
                                <thead>
                                    <tr>
                                        <th>FeaturesSet</th>
                                        <th>Accuracy</th>
                                        <th>Recall</th>
                                        <th>F-1</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                {% for v in userresult_list %}
                                    <tr>
                                        <td>[{{ v.user_result }}]</td>
                                        <td>{{ v.accuracy }}%</td>
                                        <td>{{ v.recall }}%</td>
                                        <td>{{ v.f1 }}%</td>
                                        <td><a href="{% url 'featureselection:download' task_id 0 v.id %}">Download The DataSet</a></td>
                                        <td><a href="{% url 'featureselection:delete_own_result' v.id %}">Delete This FeatureSubset</a></td>
                                        {% if result.ischoosed %}
                                            <td><label class="label label-primary">Chose</label></td>
                                        {% else %}
                                            <td><a href="{% url 'featureselection:choose_result' task_id 0 v.id %}">Choose The FeatureSubset</a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <h3>No FeaturesSet</h3>
                        {% endif %}
                        {% if user_echarts %}
                            <strong>The Corresponding Image Of The Data Is As Follows:</strong>
                            <a href="#user_echarts" data-toggle="collapse" id="user_" onclick="function3()">hide the picture</a>
                            <div class="panel-collapse collapse in" id="user_echarts">
                                {{ user_echarts|safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3>System charts</h3>
                    </div>
                    <div class="panel-body">
                        <a href="#system_echarts" data-toggle="collapse" id="system_" onclick="function4()">show the picture</a>
                            <div class="panel-collapse collapse" id="system_echarts">
                                {% if algorithm_echarts %}
                                    {{ algorithm_echarts|safe }}
                                {% endif %}
                                {% if chi_es %}
                                    {{ chi_es|safe }}
                                {% endif %}
                                {% if rlf_echarts %}
                                    {{ rlf_echarts|safe }}
                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2>More</h2>
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="{% url 'featureselection:show_result' task_id %}">Feature Selection Result From System</a></li>
                    <li><a href="{% url 'featureselection:show_best_result' task_id %}">Best FeatureSubset System Recommending</a></li>
                    <li><a href="{% url 'featureselection:show_user_result' task_id %}">Choose Your Own FeatureSubsets</a></li>
                </ul>
            </div>
        </div>
    {% endblock content %}
</body>
</html>